/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    display: flex;
}

@font-face {
    font-family: "aliceInWonderland";
    src: url(../fonts/Alice_in_Wonderland_3.ttf);
}

header {
    width: 460px;
    height: 1050px;
    background-image: url(../images/tarsierBackground.avif);
    block-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}

img {
    width: 460px;
    height: 1050px;
}

h1 img {
    width: 50px;
    height: auto;
} 

header h1 {
    margin: 100px 0px 0;
    padding: 8px 0 0;
    font-size: 50px;
    background: rgba(0, 0, 0, .2);
    text-align: center;
    font-family: "aliceInWonderland";
}

header h1 img {
    margin: 0 5px 0;
}

header div {
    margin: 0 76px 10px;
    position: absolute;
    bottom: 0;
    font-size: 17px;
}

header div p a {
    color: white;
}

main {
    background-color: #f9f9f9;
}

div.upper-body {
    width: 540px;
    height: auto;
    margin: 100px 37px 0;
    font-size: 20px;
    font-weight: bold;
}

div.upper-body i{
    font-style: italic;
}

div.middle-lower-body {
    height: 100px;
    background-color: white;
    margin: 50px 0 0;
    display: flex;
}

div.form-title {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 37px 0;
}

